.quem-somos {
    background-color: #9C963D; 
    color: white;
    margin-top: -50px; /*essa margem negativa aproxima as sessões Inicio e Quem somos*/
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Opcional, alinha no centro */
    min-height: 500px;
}