.inicio-container {
    background-color: #E0952A;
    padding: 60px 0;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-bottom: 8%;
    min-height: 500px;
    
}

.frase {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.img-placeholder {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.planta-canto {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 190px;

}