.contact_us {
    background: linear-gradient(45deg, #D79B8F, #EEAA3C);
    color: #F6EEC6;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* evita scroll horizontal */
    padding: 2rem 1rem;
}

.content_contact_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.title-contact {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 5px solid #F6EEC6;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    z-index: 1;
}

.flowers-contact{
    max-width: 200px;
    margin: 2%;
}
#orange-flower {
    position: absolute;
    left: 0;
    top: 0;
}
#pink-flower{
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-contact {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.btn-contact .email,
.btn-contact .outro {
    background-color: #F6EEC6;
    border-radius: 20px;
    padding: 10px 40px;
    color: black;
    font-weight: bold;
}