.home {
    background-color: #E0952A;
    border-radius: 20px;
    color: white;
    min-height: 500px;
   
    
}
.sentence {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
     
}

.img-placeholder {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.flower-inner-conner {
    position: absolute;
    bottom: -130px;
    right: 0px;
    z-index: 1;
    max-width: 200px;
}
