.my_orders{
    background-color: #D79B8F;
    
}

.caderno {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    max-width: 95%;
    
}

.caderno-tabela {
    width: 100%;
    border-collapse: collapse;
}

.caderno-tabela th,
.caderno-tabela td {
    border-left: 1px solid #eee;
    padding: 8px 12px;
    background-color: transparent;
}

.caderno-tabela th:first-child,
.caderno-tabela td:first-child {
    border-left: none;
}

.caderno-tabela tr {
    border-bottom: 1px solid #f0e9e9;
}

.caderno-tabela td {
    height: 40px;
}

.titulo-tabela {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
    
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-btn i {
    font-size: 16px;
}

.button{
    background-color: #A59E37;
    color: white;
}