.the_planta {
    background-color: #F6EEC6;  
    min-height: 750px;
    margin:4% 0;


}
.title-planta{
    color: #A59E37;
    /* font-size: 10000px;  não sei porque não funciona*/
    margin: 3% 3% -5% 3%;
    font-weight: 900;
    border-bottom: 3px solid #A59E37;
    width:18%;
}

.img-items-planta{
    background-image: url("../assets/images/itens-planta.svg");
    position: relative;
    z-index: 2;
    min-height: 600px;
    background-size: 90%; 
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3%;

}
.list-items-planta{
    list-style: none;
    z-index: 5;
}

.list-items-planta #item_1{
    position: absolute;
    top: 31%;
    left: 18%;
}
.list-items-planta #item_2{
    position: absolute;
    top: 90%;
    left: 20%;
}
.list-items-planta #item_3{
    position: absolute;
    top:10%;
    left: 47%;
}
.list-items-planta #item_4{
    position: absolute;
    top: 75%;
    left: 80%;
}

.flower{
    position: absolute;
    bottom:2%;
    left: 0;
    z-index: 1;
    max-width: 150px;
}